# base
PyYAML
aenum
coloredlogs
tifffile==2023.2.3
scikit-image==0.21.0
opencv-python==4.8.0.76
tqdm==4.65.0
scikit-learn==1.3.0
scipy
imagecodecs==2023.3.16
pandas==1.5.3
numba==0.56.4
pydantic
imreg_dft==2.0.0
prettytable==3.11.0
objtyping
stereopy==1.4.0
patchify==0.2.3
requests
matplotlib==3.7.1
h5py==3.8.0
gefpy
cellpose==3.0.11
numpy==1.23.5
beautifulsoup4
csscompressor
mapbox_earcut
ipython
jsmin
onnxruntime-gpu==1.15.1